@model Car
<div class="row">
	<h3>Добавление автомобиля</h3>
	<br>

	<form asp-action="AddToCars" asp-controller="Cars" method="post" class="form-horizontal">
		<div class="form-group">
			<label>Модель</label>
			<div >
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label>Цена</label>
			<div >
				<input asp-for="Price" class="form-control"/>
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label>Описание</label>
			<div >
				<input asp-for="ShortDesc" class="form-control"/>
				<span asp-validation-for="ShortDesc" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label>Выбрать фото автомобиля</label>
			<div >
				<input type="file" name="photo[]" multiple="" accept="image/*,image/jpeg,jpg" asp-for="Data" class="form-control"/>
				<span asp-validation-for="Img" class="text-danger"></span>
			</div>
		</div>

		<input class="btn btn-success" type="submit" value="Добавить"/>
	</form>
</div>